.radialProgressBar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float:left;
  }
  .radialProgressBar .overlay {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto;
    background: $primary;
    text-align: center;
    padding-top: 18%;
  }
.progress-80 {
    background-image: -webkit-linear-gradient(left, $success 50%, transparent 50%), -webkit-linear-gradient(108deg, $success 50%, $primary-light 50%);
    background-image: linear-gradient(90deg, $success 50%, transparent 50%), linear-gradient(-18deg, $success 50%, $primary-light 50%);
  }